
header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #FBF4F4;
    background: #FBF4F4;
    position: fixed;
    left: 0;
    z-index: 100;
}

header nav .logo{
    display: flex;
    flex-direction: row;

}

header nav .logo .logo_image{
    margin-right: -25px;
}

header nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

header nav .logo .logo_text{
    cursor: pointer;
    padding-top: 16%;
    margin: 0;

}

header nav .logo .logo_text .logo_link{
    text-decoration: none;
    color: black;
}

header nav .logo .logo_text h6{
    font-size: 8px;
}

header nav li{
    display: inline-block;
    padding: 0 10px;

}

header nav li a{
    text-decoration: none;
    color: #000;
}

header nav li a:hover{
    color: #4929F1;

}

header nav li a img{
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

header nav .social_icon{
    display: flex;
}

header nav .social_icon input{
    width: 300px;
    height: 30px;
    padding-right: 0;
}

header nav .social_icon img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.cart-number {
    position: relative;
    top: -12px;
    right: 78px;
    background-color: black;
    color: #fff;
    font-size: 9px;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: 5px;
}


