
.flex-item .left img{
    width: 100%;
    height: 100%;
}

.flex-item {
    width: calc(33.33% - 20px); /* Adjust width and margin as needed */
    margin-bottom: 20px; /* Adjust margin between items */
    display: flex;
}

.left {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between left and right */
    height: 200px;
}

.left img {
    max-width: 130px; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
}

.right {
    flex: 1;
}

.author{
    color: grey;
}

.stars{
    color: gold;
}

.purchases{
    color: grey;
}

.old-price{
    color: grey;
    text-decoration: line-through;
    font-size: smaller;
}

.discount{
    color: #34BF53;
    font-size: smaller;
}

.add-cart {
    background-color: #FC9A07;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #ed8e00;
}

.read-now {
    position: relative;
    bottom: 25%;
    left: 14%;
    width: 85px;
    border:none;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 123, 255, 0.9);

}
