<table className="confirmation_table">
    {
    orderDetails.books?.map((book, i) => (

    <tr className="confirmation_tr" key={i}     >
        <td className="confirmation_td">
            {book.title}
        </td>
        <td className = "confirmation_td">{book.bookId}</td>
        <td className = "confirmation_td">{asDollarsAndCents((book.price)*100)}</td>
    </tr>
    ))}
    <tr>
        <td><b>Total :</b></td>
        <td></td>
        <td>{orderDetails.order.amount}</td>
    </tr>
</table>

