<div>
    <div className="cart-header">
        <p>Order Confirmed</p>
    </div>
    <div className="cart-table">
        <ul className="cart2">
            <li className="table-heading">
                <div className="heading-book">Book</div>
                <div className="heading-price">Price / Quantity</div>
                <div className="heading-subtotal">Amount</div>
            </li>
            {orderDetails.books?.map((book, index) => (
            <li key={index}>
                <div className="cart-book-image">
                </div>
                <div className="cart-book-title">{book.title}</div>
                <div className="cart-book-price"></div>
                <div className="cart-book-quantity">
                    <span className="quantity">{book.bookId}</span>&nbsp;
                </div>
                <div className="cart-book-subtotal">${book.bookId}</div>
                <ul><li className="line-sep"></li></ul>
            </li>

            ))}

        </ul>
        <p className="sub-total">Subtotal</p>
    </div>
    <div className="shopping-buttons">
        <Link to={`/categories/`}>
        <button className="continue-shopping-button">
            <FontAwesomeIcon icon={faArrowLeft} className="arrow-icon"/>
            &nbsp; CONTINUE SHOPPING
        </button>
        </Link>

    </div>

</div>